---
title: Open Positions
---

%h1= current_page.data.title

%p.lead{style: "text-align: center;"}
  %strong{style: "text-decoration: underline;"} Multiple research positions in the Bhandawat lab 
%h2{style: "font-size: 16px;"} Short Introduction to the Bhandawat Lab
%p We study how animal behavior emerges from the complex interaction amongst the animal's nervous systems, their muscle-body dynamics, and their environment. We use fruitflies (Drosophila melanogaster) as our model organism because they perform many complex behaviors with a relatively simple brain, and because of the many genetic tools that are available in the flies. We employ a multi-pronged approach which includes in vivo whole-cell patch clamp recordings, imaging, quantitative measurement of behavior, biomechanics and computation. 

%h2{style: "font-size: 16px;"} Multiple positions at various levels
%p We are looking to hire multiple researchers at different stages of their career. We have a range of projects differing in complexity and in time required to complete them. 

%p Since our aim is to understand each step of the process from sensation to action, we are looking for 
%ol
  %li Systems neuroscientists with interest in both sensory and motor neuroscience, 
  %li Researchers interested in nuts and bolts of motor control including the interaction of nervous system with the musculo-skeletal system, 
  %li Reseachers interested in biomechanics of legged locomotion, 
  %li Computational neuroscientists.

%p We are looking to build a diverse team of biologist, neuroscientists and engineers.

%h2{style: "font-size: 16px;"} How to Apply
%p 
  Cover letter and CV are required.  The cover letter should address your specific interest in the position and outline skills and experience that directly relate to this position. You can apply by sending your cover letter and CV to 
  =mail_to "vikas.bhandawat@drexel.edu"


%h2{style: "font-size: 16px;"} Required Qualifications
%p Qualifications vary with the research question. In general, undergraduates who are currently pursuing or have recently completed bachelor’s degree in Neuroscience/Biology/ Engineering is essential.  Strong quantitative skills and proficiency in MATLAB, Python or other programming languages. Interest in one of the research problems we study is essential.

%p We will also consider candidates with advanced degrees. 

%h2{style: "font-size: 16px;"} Desired Qualifications
%p Experience with Drosophila.

%h2{style: "font-size: 16px;"} Start Date
%p Nov 1st, 2019 onwards.