---
title: Research Overview
layout: two-columns-left-nav
---

%h1= current_page.data.title

%p A seemingly simple task such as walking to one’s favorite coffee shop involves behaviors that unfold on multiple timescales: On a short timescale (< 1 second), one must move one’s legs on an uneven surface and maintain balance. On a medium timescale (~ few seconds) one must walk relatively straight on a sidewalk. On a longer timescale (~ minutes), one has to follow the street signs to navigate. 

%p The mission of my lab is to take an integrated approach to understand how behavior at these multiple timescales arises from the interaction between the brain, the body and the world. We have homed in on legged locomotion in Drosophila (or fruit flies) as a uniquely appropriate system for studying this problem. The advantage in using Drosophila is that instead of ~1010 neurons in the mammalian brain, they have just 105 neurons, making them more tractable. Moreover, the powerful genetic toolkit in Drosophila allow us to label, silence or activate individual neurons, enabling us to study the neural basis of locomotion with unparalleled specificity.

%p Our research program is highly interdisciplinary: We employ imaging techniques to dissect how neurons are connected to each other. We have developed techniques to measure electrical signals from single neurons in behaving flies to understand how they encode sensory information, make decisions and control actions. We have also developed behavioral paradigms to make a quantitative assessment of flies’ behavioral output. These experimental approaches are combined with computational approaches to understand the principles underlying neural computations on each of these multiple time scales.

%p Our multidisciplinary research also supports our educational objective: to create the next generation of professionals with a truly multidisciplinary skill set necessary to tackle complex, real-world problems.

= partial "research/projects"

